<h1>Stocks available from broker <%= @broker.username %> </h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Info</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @broker_stockslist.each do |stock| %>
      <tr>
        <td><%= stock.id %></td>
        <td><%= stock.symbol %></td>
        <td><%= stock.price %></td>
        <td><%= stock.info %></td>
        <td><%= button_to "Buy 1 share", buy_one_path(stock), method: :get %>
            <%= button_to "Buy 10 shares", buy_ten_path(stock), method: :get %>
            <%= button_to "Buy 100 shares", buy_hundred_path(stock), method: :get %>
            <%= button_to "Buy 1000 shares", buy_thousand_path(stock), method: :get %>
      </tr>
    <% end %>
  </tbody>
</table>