<h1>Stock List</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Info</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% #@new_stocklist.each do |stock| %>
    <% @stocklist.each do |stock| %>
      <tr>
        <td><%= stock.id %></td>
        <td><%= stock.symbol %></td>
        <td><%= stock.price %></td>
        <td><%= stock.info %></td>
        <td><%= button_to "Add to Portfolio", add_stock_path(stock), method: :get %>
      </tr>
    <% end %>
  </tbody>
</table>