<!DOCTYPE html>
<html>
  <head>
    <title>Stockify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://www.investopedia.com/thmb/NIRIWYxne7FQv1KPMGp21Mw3ZnA=/4000x2250/filters:fill(auto,1)/GettyImages-1069345714-fbda50660ce74c26944a2b03d6482473.jpg">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body class="pt-24">
    <%= render "home/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
