<!DOCTYPE html>
<html>
  <head>
    <title>Stock app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- temp -->
    <!-- link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet" -->

  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if buyer_signed_in? %>
      <span>buyer <%= current_user.username %></span>
      <%= link_to 'Brokerlist', brokerlist_path %>
      <%= link_to 'Log out', destroy_buyer_session_path, method: :delete %>
    <% elsif broker_signed_in? %>
      <span>broker <%= current_user.username %></span>

      <%= link_to 'Portfolio', brokers_path %>
      <%= link_to 'Stocklist', stocklist_path %>
      <%= link_to 'Log out', destroy_broker_session_path, method: :delete %>
    <% elsif admin_signed_in? %>
      <span>admin <%= current_user.username %></span>
      <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
